<a href="https://colab.research.google.com/github/donosonahuel/tendencias-historica-videojuegos/blob/main/An%C3%A1lisis_de_Tendencias_y_Ventas_Hist%C3%B3ricas(Videojuegos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Adquisici贸n y Comprensi贸n del Dataset

## Importando biblioteca y archivo

In [ ]:
import pandas as pd

In [ ]:
df_video_games_sales = pd.read_csv('/content/vgsales.csv')

## Inspecci贸n del DataSet

In [ ]:
df_video_games_sales.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,wii sports,wii,2006,sports,nintendo,41.49,29.02,3.77,8.46,82.74
1,2,super mario bros.,nes,1985,platform,nintendo,29.08,3.58,6.81,0.77,40.24
2,3,mario kart wii,wii,2008,racing,nintendo,15.85,12.88,3.79,3.31,35.82
3,4,wii sports resort,wii,2009,sports,nintendo,15.75,11.01,3.28,2.96,33.00
4,5,pokemon red/pokemon blue,gb,1996,role-playing,nintendo,11.27,8.89,10.22,1.00,31.37
5,6,tetris,gb,1989,puzzle,nintendo,23.20,2.26,4.22,0.58,30.26
6,7,new super mario bros.,ds,2006,platform,nintendo,11.38,9.23,6.50,2.90,30.01
7,8,wii play,wii,2006,misc,nintendo,14.03,9.20,2.93,2.85,29.02
8,9,new super mario bros. wii,wii,2009,platform,nintendo,14.59,7.06,4.70,2.26,28.62
9,10,duck hunt,nes,1984,shooter,nintendo,26.93,0.63,0.28,0.47,28.31

In [ ]:
df_video_games_sales.info() # Se puede identificar que falta datos en "Year" y "Publisher", y cambiar los objetos de "Name", "Platform", "Genre", "Year" y "Publisher" a string.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
df_video_games_sales.isnull().sum() # Se obtuvo la cantidad exacta de nulos.

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

# Ъ Limpieza y Preparaci贸n de Datos (Data Wrangling)

## Rellenar los espacios nulos

In [ ]:
# Imputacion de datos en la columna "Publisher"
df_video_games_sales['Publisher'] = df_video_games_sales['Publisher'].fillna('Unknown')

In [ ]:
# Encontrar la media de los a帽os en la columna "Year"
media_year = df_video_games_sales['Year'].mean()

# Imputaci贸n de datos en la columna "Year"
df_video_games_sales['Year'] = df_video_games_sales['Year'].fillna(media_year).round(0).astype(int)

# La media calculada en la columna 'Year' es 2006.4064433147546 redondeando el resultado a un tipo entero
# Haciendo esto minimiza la distorsion y mantiene la tendencia central

In [ ]:
df_video_games_sales.isnull().sum() # Ya se han rellenado todos los campos

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

## Aplicar los tipos correctos de datos

In [ ]:
# Todo la informaci贸n en minuscula y el tipo de dato en String
df_video_games_sales['Name'] = df_video_games_sales['Name'].astype('string').str.lower()
df_video_games_sales['Platform'] = df_video_games_sales['Platform'].astype('string').str.lower()
df_video_games_sales['Genre'] = df_video_games_sales['Genre'].astype('string').str.lower()
df_video_games_sales['Publisher'] = df_video_games_sales['Publisher'].astype('string').str.lower()

In [ ]:
# Todo la informaci贸n en tipo numero entero
df_video_games_sales['Year'] = df_video_games_sales['Year'].astype(int)

In [ ]:
# Visualizacion de la tabla
df_video_games_sales.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
832,834,socom: u.s. navy seals: combined assault,ps2,2006,shooter,sony computer entertainment,1.74,0.02,0.00,0.28,2.04
3996,3998,the price is right,ds,2008,misc,ubisoft,0.46,0.00,0.00,0.04,0.50
6752,6754,nickelodeon party blast,gc,2002,misc,atari,0.19,0.05,0.00,0.01,0.25
6654,6656,madagascar: escape 2 africa,x360,2008,action,activision,0.12,0.10,0.00,0.03,0.25
2487,2489,fifa soccer world championship,ps2,2000,sports,electronic arts,0.27,0.21,0.28,0.07,0.83
9210,9212,reality fighters,psv,2012,fighting,sony computer entertainment,0.06,0.06,0.00,0.03,0.14
6414,6416,cabela's big game hunter 2010,x360,2009,sports,activision value,0.25,0.00,0.00,0.02,0.27
13014,13016,the bigs 2,ds,2009,sports,take-two interactive,0.05,0.00,0.00,0.00,0.05
909,911,need for speed rivals,ps4,2013,racing,electronic arts,0.73,0.91,0.03,0.22,1.89
1130,1132,nba 2k15,x360,2014,sports,take-two interactive,1.33,0.14,0.00,0.15,1.63

In [ ]:
# Revision de los datos
df_video_games_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  string
 2   Platform      16598 non-null  string
 3   Year          16598 non-null  int64
 4   Genre         16598 non-null  string
 5   Publisher     16598 non-null  string
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(5), int64(2), string(4)
memory usage: 1.4 MB

#  An谩lisis Exploratorio de Datos (EDA) y Visualizaci贸n

##  G茅nero M谩s Vendido a Nivel Global

In [46]:
# Agrupar por "Genre" y sumar "Global_Sales"
genre_sales = df_video_games_sales.groupby('Genre')['Global_Sales'].sum().sort_values(ascending = False)

# Convertir en un dataframe
df_genre_sales = genre_sales.reset_index()
df_genre_sales.columns = ['Genre', 'Global_Sales']
df_genre_sales['Percentage'] = (df_genre_sales['Global_Sales'] / df_genre_sales['Global_Sales'].sum()) * 100
df_genre_sales['Percentage'] = df_genre_sales['Percentage'].round(2)

# Mostrar las categorias principales a nivel global
print("Los generos vendidos a nivel global:")
print(df_genre_sales)

Los generos vendidos a nivel global:
           Genre  Global_Sales  Percentage
0         action       1751.18       19.63
1         sports       1330.93       14.92
2        shooter       1037.37       11.63
3   role-playing        927.37       10.40
4       platform        831.37        9.32
5           misc        809.96        9.08
6         racing        732.04        8.21
7       fighting        448.91        5.03
8     simulation        392.20        4.40
9         puzzle        244.95        2.75
10     adventure        239.04        2.68
11      strategy        175.12        1.96

##  Editor M谩s Consumido a Nivel Global

In [51]:
# Agrupar por "Publisher" y sumar por "Global_Sales"
publisher_sales = df_video_games_sales.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending = False)

# Visualizar los datos de las empresas mas consumidas
top_10_publishers = publisher_sales.head(10)
print("Las 10 empresas mas consumidas a nivel global:")
print(top_10_publishers)

Las 10 empresas mas consumidas a nivel global:
Publisher
nintendo                        1786.56
electronic arts                 1110.32
activision                       727.46
sony computer entertainment      607.50
ubisoft                          474.72
take-two interactive             399.54
thq                              340.77
konami digital entertainment     283.64
sega                             272.99
namco bandai games               254.09
Name: Global_Sales, dtype: float64